* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: gray;
    
}

body { 
    min-height: 100vh;
    
}

.titulo {
    margin-top: 25px;
    color: rgb(255, 255, 255);
    margin-left: 40%;
    justify-content: center;
    align-items: center;
    font-size: x-large;
}
#pesquisa {
    text-decoration-color: white;
    background-color: gray;
    font-size: 80px;
    height: 100px;
    width: 1000px;
    outline: none;
    justify-self: center;
    justify-content: center;
    align-items: center;
    margin-left: 10%;
    margin-top: 50px;
            
    }

#lista {
    margin-top: 50px;
    color: rgb(255, 255, 255);
    margin-left: 40%;
    justify-content: center;
    align-items: center;
    font-size: x-large;
}

.imagem {
    margin-top: 50px;
    justify-self: center;
    height: 300px;
    margin-left: 50%;
    justify-content: center;
    align-items: center;
    margin-left: 30%;
}


/*display: flex;
  justify-content: center;
  align-items: center;*/